<%= button_to 'Logout', logout_path %>
<h1>Welcome, <%= @user.username %></h1>

<%= form_tag tracks_path, method: :get do %>
 <div class="container" >
   <%= text_field_tag :track_name, nil ,placeholder: "Enter song name", required: true %><%= submit_tag "Search" %>
 </div>
 
<% end %>

