


<%= @track.name %> 
<% if @track.explicit == true %>
    <button disabled="disabled"><%= 'E' %> </button>
<% end %> <br>

Artists: <%= @track.artists.map {|artist| artist.name}.join(", ") %><br>

<% if @track.album.name == @track.name %>
    Single
<% else %>
    Album: <%= @track.album.name %>
<% end%>


<%= button_to 'Request Song', track_path %>

<!--Doesn't link properly back to the songs searched-->
<%# button_to 'Back to Songs', tracks_path, method: 'get' %>